
<!-- =========================
 SECTION: CONTACT INFO
============================== -->
<div class="contact-info white-bg" id="contacts">
    <div class="container">

        <!-- CONTACT INFO -->
        <div class="row contact-links">

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-mail colored-text"></span>
                </div>
                <a href="mailto:{{sections.email}}" class="strong">{{sections.email}}</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-geolocalize-01 colored-text"></span>
                </div>
                <a href="" class="strong">{{sections.address}}</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-tablet colored-text"></span>
                </div>
                <a href="tel:{{sections.phone}}" class="strong">{{sections.phone}}</a>
            </div>
        </div>

    </div>
</div>

<!-- =========================
 GOOGEL MAP
============================== -->
<div id="container-fluid">
    <div id="cd-google-map">
        <div id="google-container">
        </div>
        <address class="color-bg">{{sections.address}}</address>
    </div>
</div>
